@model DeerTier.Web.Models.PageViewModel

@{
    ViewBag.Title = "News";
}

<div class="newsPage">
    <h2>News</h2>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">January 10, 2018</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Deployed API changes to the live site, but they are currently disabled</li>
                <li>Updated wiki links to point to the new Super Metroid Speedrunning Wiki</li>
                <li>Updated moderators list</li>
                <li>Set up https for deertier.com for those who want to use a secure connection. The http site is still available but will probably redirect to https at some point in the future.</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">November 25, 2017</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Added API methods to submit and delete times to help with the speedrun.com integration</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">September 17, 2017</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Removed the two category polls that we ran for a while. You can check the final results on the <a href="/News">news page</a>.</li>
                <li>
                    Based on the polls:
                    <ul>
                        <li>There are no changes to the 14% categories (i.e. Low% NMG)</li>
                        <li>Added a Low% Chargeless category</li>
                    </ul>
                </li>
                <li>Renamed the 2% category to 0% under Low% MG</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">September 17, 2017</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Sorry for leaving those polls up for so long! Here are the final results:
            </p>
            <br />
            <p>
                <img src="~/Images/Poll1.png" />
            </p>
            <br />
            <p>
                <img src="~/Images/Poll2.png" />
            </p>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">January 15, 2017</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                I've set up a GitHub repository for the Deer Tier codebase <a href="https://github.com/tomvoros/deertier" target="_blank">here</a>. The code could still use some improvements
                but it's in decent enough shape for sharing now. Anyone who wants to work on the website can go ahead and submit pull requests but please make sure your changes
                have been approved by the community first. It's probably a good idea to discuss the changes on Discord.
            </p>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 23, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Added links to the wiki page for each category</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 22, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Improved error logging</li>
                <li>Updated favicon and added icons for various platforms</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 21, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Added a max length on some textboxes to prevent errors</li>
                <li>More code and schema refactoring behind the scenes (working towards open source)</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 17, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Rehashed all password for added security (they were hashed with MD5 before, now they are salted and hashed with SHA-1)</li>
                <li>More code and schema refactoring behind the scenes (working towards open source)</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 16, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Improved authentication security</li>
                <li>Fixed encoding issue when there's an error</li>
                <li>Added some logging</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 15, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Allow moderators to manage records for non-registered users to help keep things in sync with SRC</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 10, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Added polls on homepage</li>
                <li>Fixed authentication bug</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 9, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Added Low% Chargeless category</li>
                <li>Fixed authentication so users will not get signed out constantly</li>
                <li>More code and schema refactoring behind the scenes (working towards open source)</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">December 4, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Site changes:
            </p>
            <ul>
                <li>Moved past news to a separate page and added a link on the homepage</li>
                <li>Replaced IRC info with a link to the Discord server</li>
                <li>Display RBO as Reverse Boss Order in page heading</li>
                <li>Added section heading on leaderboard pages (so you can distinguish between Any% major glitches and Any% no major glitches, for example)</li>
                <li>Cleaned up a bunch of the code (working towards open source)</li>
                <li>Quick fix for mobile layout</li>
                <li>Added support for hidden mods</li>
                <li>Added ability for mods to submit times for other users (this will help with the transition to SRC)</li>
                <li>Added a simple API method to <a href="/api/records">get all records</a> as JSON</li>
            </ul>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">November 25, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                The category structure has been updated again, the Zebes Escape category has been removed (it had no submissions anyway), and
                the homepage has been updated slightly.
            </p>
        </div>
    </div>

    <div class="newsPost">
        <ul class="newsMeta">
            <li class="newsDate">November 19, 2016</li>
            <li class="newsAuthor"><img src="~/Images/phantoon.png" /> phantomsnake</li>
        </ul>
        <div class="newsBody">
            <p>
                Hello, I'm MrLandmaster's brother! He doesn't have as much time to work on Deer Tier these days so I'll be taking over most of the development work.
                We started by implementing a new two-level category structure, along with some improvements to the data schema behind the scenes.
                If you find any bugs please send them to support (at) deertier (dot) com. More improvements coming down the line!
            </p>
        </div>
    </div>
</div>