@model DeerTier.Web.Models.MessagePageViewModel

@{
    ViewBag.Title = "Change Password";
}

<div id="login">
    <h1>Change Password</h1>
    <br />

    @using (Html.BeginForm())
    {
        <div class="loginSignUpForm">
            Current password:
            <input type="password" name="currentPassword" />
            <br />
            New password:
            <input type="password" name="newPassword" />
            <br />
            Confirm new password:
            <input type="password" name="confirmedNewPassword" />
            <br />
        </div>
        
        <input class="genericButton" type="submit" value="Submit" />   
    }
    
    <div class="statusLiteral">
        @Model.Message
    </div>
    <br />
</div>